{% extends 'user/user-base.html.twig' %}

{% block title %}Hello TrackController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Ajouter une musique</h1>

        {{ form_start(form_view) }}

        <div>
            {{ form_label(form_view.title) }}
            {{ form_widget(form_view.title) }}
            {{ form_errors(form_view.title) }}
        </div>

        <div>
            {{ form_label(form_view.genres) }}
            {{ form_widget(form_view.genres) }}
            {{ form_errors(form_view.genres) }}
        </div>

        <div>
            {{ form_label(form_view.filename) }}
            {{ form_widget(form_view.filename) }}
            {{ form_errors(form_view.filename) }}
        </div>

        <div>
            {{ form_widget(form_view.submit) }}
        </div>

        {{ form_end(form_view) }}
    </div>
{% endblock %}

