{% extends 'admin/base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Gérer les genres</h1>
    <a href="{{ path('genre_create') }}" class="btn btn-primary">Créer un genre</a>


    <div class="d-flex flex-wrap">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Genre</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>

            {% for genre in genres %}
            <tr>
                <th scope="row">{{ genre.id }}</th>
                <td>{{ genre.name }}</td>
                <td><a href="{{ path('genre_update', {'id':  genre.id }) }}" class="btn btn-warning">Modifier</a></td>
                <td><a href="{{ path('genre_delete', {'id': genre.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>




    </div>
{% endblock %}
